@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}

section{
		margin-top:100px;
		background-color: #FFFFFF;
}
.contents> .user-box {
  	width: 400px;
  	height : 420px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

#requestBtn{
	width: 356px;
  	height : 38px;
}

.logo {
        padding-top: 28px;
        color:green;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 38px;
    }

.addition{
	color:green;
	font-size: 20px;
}